# OS
.DS_Store
Thumbs.db

# Editors
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# C# / .NET
bin/
obj/
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
publish/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
.pytest_cache/

# Bash
*.swp
*.bak

# Secrets
.env
.env.*
*.pem
*.key

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# npm
node_modules/
npm-debug.log*
.npm
